[user]
	name = Shiro
	email = 152921394+ShiirooS@users.noreply.github.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[core]
	editor = nvim
[alias]
	st = status --short
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate --all
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
